:root {
/* Brand Colors */
--color-blue-darkest: #080B24;
--color-blue-darker: #0d1631; // darkest + shadow
--color-blue-dark: #0C3559;
--color-blue-mid: #305789;
--color-blue-light: #68BFED;
--color-grey-mid: #69635E;
--color-grey-light: #A79F99;
--color-grey-lightest: #CED2CD;
--color-accent-terracotta: #8C3623;
--color-accent-pumpkin: #BF712C;
--color-accent-goldenrod: #D9AA52;
--color-accent-spring: #AADB6C;
--color-accent-emerald: #4BA661;

/* Site Colors */
--color-primary: var(--color-blue-darkest);
--color-secondary: var(--color-blue-mid);
--color-shadow: #30578922;
--color-dark-shadow: #080B2422;
--color-dark-shadow-opaque: ;
/* Background Colors */
--color-bg: var(--color-grey-lightest);
--color-bg-secondary: var(--color-shadow);
--color-bg-accent: var(--color-blue-dark);
--color-bg-hover: var(--color-bg-secondary);
/* Text and Border Colors */
--color-text: var(--color-blue-darkest);
--color-text-alt: var(--color-blue-mid);
--color-text-gray: var(--color-grey-mid);
--color-border: var(--color-grey-light);
/* Semantic Colors */
--color-danger: var(--color-accent-terracotta);
--color-art: var(--color-blue-mid);
--color-sci: var(--color-accent-emerald);
--color-hu: var(--color-accent-pumpkin);
--color-art-alt: var(--color-blue-light);
--color-sci-alt: var(--color-accent-spring);
--color-hu-alt: var(--color-accent-goldenrod);


  /* Typography */
  --font-family-base: 'Noto Sans', Helvetica, sans-serif;
  --font-family-heading: 'Recursive', Helvetica, sans-serif;
  --font-family-mono: 'Recursive', "Courier New", monospace;


  /* Sizes */
  --site-width: 850px;
  --header-height: 66px;
  --header-height-lg: 76px;

  /* Z-index */
  --z-header: 10;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 5px;
  --shadow: 0 10px 15px -3px var(--color-shadow), 0 4px 6px -2px var(--color-shadow);

  // Dark mode colors... code to be cleaned later x_x
  --color-secondary-dark: var(--color-blue-dark);

  --color-link-dark: var(--color-blue-light);

  --color-bg-dark: var(--color-blue-darkest);
  --color-bg-wrapper-bg-dark: var(--color-blue-darkest);
  --color-bg-secondary-dark: var(--color-blue-darker);
  --color-bg-accent-dark: var(--color-blue-dark);

  --color-title-dark: var(--color-grey-lightest);
  --color-text-dark: var(--color-grey-lightest);

  --color-border-dark: var(--color-blue-dark);

}

:root[data-theme="dark"] {
--color-bg: var(--color-blue-darkest);
--color-text: var(--color-grey-lightest);

  /* Semantic Colors */
--color-art: var(--color-blue-light);
--color-sci: var(--color-accent-spring);
--color-hu: var(--color-accent-goldenrod);
--color-art-alt: var(--color-blue-mid);
--color-sci-alt: var(--color-accent-emerald);
--color-hu-alt: var(--color-accent-pumpkin);
}