.home-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px 20px;
}

@media (min-width: 1024px) {
  .home-page {
    padding: 20px 40px;
  }
}


#span-art:hover {
  color: var(--color-art);
}

#span-sci:hover {
  color: var(--color-sci);
}

#span-hu:hover {
  color: var(--color-hu);
}