.home-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px 20px;
}

@media (min-width: 1024px) {
  .home-page {
    padding: 20px 40px;
  }
}

#me {
  text-align: center;
  font-style: italic;
  text-wrap: balance;
  margin-bottom: 2.5rem;
}

#me > p > a {
  border-bottom: 2px dotted;
  color: var(--color-text)
}

#me > p > #a-art {
  border-color: var(--color-art);
}

#a-art:hover {
  color: var(--color-art)
}

#me > p > #a-sci {
  border-color: var(--color-sci);
}

#a-sci:hover {
  color: var(--color-sci);
}

#me > p > #a-hu {
  border-color: var(--color-hu);
}

#a-hu:hover {
  color: var(--color-hu);
}

#icon_container {
  display: flex;
  flex-flow: row wrap-reverse;
  align-content:flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  text-align: center;

}

#icon_container > svg {
  transform: scale(0.6);
  margin: -1em 0;
  fill: var(--color-bg-secondary);
  transition: fill .5s;
}

#icon_container > svg.art--hover {
  fill: var(--color-art-alt);
}

#icon_container > svg.hu--hover {
  fill: var(--color-hu-alt);
}

#icon_container > svg.sci--hover {
  fill: var(--color-sci-alt);
}