---
layout: base.njk
section: home
---
<div class="home-page">
	<p id="me" class="mono">forever a student of <a href="/tags/art/" id="a-art" >art</a>, <a href="/tags/science/" id="a-sci">science</a>, and <a href="/tags/humanities" id="a-hu">humanity</a><br>
  currently gaining experience in programming, rock climbing, and DNA isolation<br>
  open to collaboration on design and science communication projects
</p>
  <hr>
 {# Projects #}
  <div class="list-header">
    <h2 class="list-header__title">Projects</h2>
    <a class="btn btn--outline btn--sm" href="/projects">View All</a>
  </div>
  {% from "macros/projectlist.njk" import projectlist %}
  {{ projectlist(projects = collections.project | reverse) }}

  {# Articles #}
  <div class="list-header">
    <h2 class="list-header__title">Articles</h2>
    <a class="btn btn--outline btn--sm" href="/blog">View All</a>
  </div>
  {% from "macros/articlelist.njk" import articlelist %}
  {{ articlelist(
    articles = collections.post | reverse,
    show_tags = false,
    limit = 3
  ) }}
<div id="icon_container">

  {% for name, icon in icons %}
    
    <svg xmlns="http://www.w3.org/2000/svg" class="{% filter replace (","," ") %}{{ icon.category }}{% endfilter %}" width={{ icon.width }} height={{ icon.height }} viewBox="{{ icon.viewbox }}">
      <title>{% filter replace("_", " ") %}
      {{ name }}
      {% endfilter %}</title>
        <path d="{{ icon.path }}" />
    </svg>
    
  {% endfor %}
  
</div></div>

<script>{% include "src/assets/js/home-page.js" %}</script>